{% extends "wagtailadmin/admin_base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <!--
        <h1>{% block branding_login %}{% trans "Manage" %}{% endblock %}</h1>
        -->

        {% block branding_logo %}
        {% if 'backone.cloud' in request.build_absolute_uri %}
            <div id="login-logo" class="login-logo" style="width: 20rem;">
              <!--
                <img src="{% versioned_static 'dashboard/images/backone-manage-logo.svg' %}" alt=""/>
              -->
            </div>
        {% elif organization.logo.file.url %}
            <div class="login-logo" style="width: 20rem;">
              <img src="{{ organization.logo.file.url }}" />
            </div>
        {% else %}
            <div class="login-logo" style="width: 20rem;">
              <img src="{% versioned_static 'dashboard/images/dashboard-logo.png' %}" alt=""/>
            </div>
        {% endif %}
        {% endblock %}

        <div class="messages" role="status">
            {# Always show messages div so it can be appended to by JS #}
            {% if messages or form.errors %}
                <ul>
                    {% if form.errors %}
                        <li class="error">{% blocktrans trimmed %}Your {{ username_field }} and password didn't match. Please try again.{% endblocktrans %}</li>
                    {% endif %}
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block above_login %}{% endblock %}

        <form class="login-form" action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off" novalidate>
            {% block login_form %}
                {% csrf_token %}

                {% url 'wagtailadmin_home' as home_url %}
                <input type="hidden" name="next" value="{{ next|default:home_url }}" />

                {% block fields %}
                    {% field field=form.username %}{% endfield %}
                    {% field field=form.password %}{% endfield %}

                    {% if show_password_reset %}
                        <a class="reset-password" href="{% url 'wagtailadmin_password_reset' %}" aria-label="{% trans 'Reset your password' %}">{% trans "Forgotten password?" %}</a>
                    {% endif %}

                    {% block extra_fields %}
                        {% for field_name, field in form.extra_fields %}
                            {% field field=field %}{% endfield %}
                        {% endfor %}
                    {% endblock extra_fields %}

                    {% trans "Remember me" as checkbox_text %}
                    {% include "wagtailadmin/shared/forms/single_checkbox.html" with label_classname="remember-me" name="remember" text=checkbox_text %}
                {% endblock %}
            {% endblock %}
            <footer class="form-actions">
                {% block submit_buttons %}
                    <button
                        type="submit"
                        class="button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Signing in…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans 'Sign in' %}</em>
                    </button>
                {% endblock %}
            </footer>
        </form>

        {% block below_login %}{% endblock %}

    </main>
<script>
let eDiv = document.getElementById("login-logo");
let eImg = document.createElement("img");
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    if (eDiv) {
        eImg.src = "{% versioned_static 'dashboard/images/backone-logotext-dark.svg' %}";
        eDiv.appendChild(eImg);
    }
}
else {
    if (eDiv) {
        eImg.src = "{% versioned_static 'dashboard/images/backone-logotext-light.svg' %}";
        eDiv.appendChild(eImg);
    }
}
</script>
{% endblock %}
