{% load i18n wagtailadmin_tags %}
{% if license_status %}
    <br />
    <br />
    <section class="panel summary nice-padding">
        <table style="width: 90%">
            <tr>
                <th style="text-align: center; border-bottom: 1px solid #ddd;">
                    NODE ID
                </th>
                <th style="text-align: center; border-bottom: 1px solid #ddd;">
                    UUID
                </th>
                <th style="text-align: center; border-bottom: 1px solid #ddd;">
                    NAME
                </th>
                <th style="text-align: center; border-bottom: 1px solid #ddd;">
                    STATUS
                </th>
            </tr>
            {% for license in license_status %}
            <tr>
                <td style="text-align: center;">
                    {{ license.node_id }}
                </td>
                <td style="text-align: center;">
                    {{ license.uuid }}
                </td>
                <td style="text-align: center;">
                    {{ license.name }}
                </td>
                <td style="text-align: center;">
                    {{ license.msg }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <br />
{% endif %}
