{% load i18n wagtailadmin_tags %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<link rel="stylesheet" type="text/css" href="{% versioned_static 'dashboard/css/map_dashboard.css' %}" />
<!--
<script src="{% versioned_static 'dashboard/js/map_dashboard.js' %}"></script>
-->

<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>

    <hr />
    <section class="panel summary nice-padding">
        <!--
        <div id="floating-panel">
        <input id="hide-markers" type="button" value="Hide Markers" />
        <input id="show-markers" type="button" value="Show Markers" />
        <input id="delete-markers" type="button" value="Delete Markers" />
        </div>
        -->
        <!--The div element for the map -->
        <div id="map"></div>
    </section>
    <hr />

    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "{{ settings.GOOGLE_MAPS_V3_APIKEY }}", v: "beta"});</script>

<script>

const api_url = "{{ settings.WAGTAILADMIN_BASE_URL }}";
{% if user.is_superuser %}
    const is_all = true;
    const is_no_org = false;
    const query_id = 0;
{% elif user.organization.is_no_org %}
    const is_all = false;
    const is_no_org = true;
    const query_id = {{ user.id }};
{% else %}
    const is_all = false;
    const is_no_org = false;
    const query_id = {{ user.organization.id }};
{% endif %}

    //initMap(api_url, is_all, is_no_org, query_id);
    //var data;
    const backoneTrans = document.createElement("img");
    backoneTrans.src = api_url + "/static/dashboard/images/backone.svg";
</script>

<script src="{% versioned_static 'dashboard/js/map_dashboard.js' %}"></script>
<script>
    initMap();
    redrawMarkers(api_url, is_all, is_no_org, query_id);
    setInterval(function() {
        redrawMarkers(api_url, is_all, is_no_org, query_id);
    }, {{ settings.MAP_REFRESH_INTERVAL }} * 60 * 1000); // every 5 minutes
</script>
