{% load i18n wagtailadmin_tags %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!--
    <link rel="stylesheet" type="text/css" href="{% versioned_static 'dashboard/css/map.css' %}" />
-->

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!--
    <script type="module" src="{% versioned_static 'dashboard/js/map.js' %}"></script>
-->

    <hr />
    <section class="panel summary nice-padding">
        <!--The div element for the map -->
        <div id="map"></div>
    </section>
    <hr />

    <!-- prettier-ignore -->
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "{{ settings.GOOGLE_MAPS_V3_APIKEY }}", v: "beta"});</script>

<script>
// Initialize and add the map
let map;

async function initMap() {
  // The location of Citiwalk
  const position = { {{ settings.MAP_CENTER }} };
  // Request needed libraries.
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps");
  const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

  {% if user.is_superuser %}
  const api_url = "{{ settings.WAGTAILADMIN_BASE_URL }}/api/members/get_all";
  {% elif user.organization.is_no_org %}
    const api_url = "{{ settings.WAGTAILADMIN_BASE_URL }}/api/members/get_by_user/{{ user.id }}";
  {% else %}
    const api_url = "{{ settings.WAGTAILADMIN_BASE_URL }}/api/members/get_by_org/{{ user.organization.id }}";
  {% endif %}

  async function getapi(url) {
    // Storing response
    const response = await fetch(url);
   
    // Storing data in form of JSON
    var data = await response.json();

    console.log(data);

    var latlngList = [];
    for (i = 0; i < data.length; i++) {  
        latlngList.push(new google.maps.LatLng(data[i]['lat'], data[i]['lng']));

        var bounds = new google.maps.LatLngBounds();
        latlngList.forEach(function(n) {
            bounds.extend(n);
        });
    }

    map = new Map(document.getElementById("map"), {
      //zoom: {{ settings.MAP_ZOOM }},
      //center: position,
      mapId: "MAP_VIEW",
    });
    map.setCenter(bounds.getCenter()); //or use custom center
    map.fitBounds(bounds);

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    const iconBase = "https://maps.google.com/mapfiles/ms/icons/";
    const icons = {
      green_icon: {
          name: "ONLINE",
          icon: iconBase + "green-dot.png"
      },
      red_icon: {
          name: "OFFLINE",
          icon: iconBase + "red-dot.png"
      },
      yellow_icon: {
          name: "WARNING",
          icon: iconBase + "yellow-dot.png"
      },
      purple_icon: {
          name: "UNKOWN",
          icon: iconBase + "purple-dot.png"
      },
    }
    
    for (i = 0; i < data.length; i++) {  

      marker = new google.maps.Marker({
        //position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        position: new google.maps.LatLng(data[i]['lat'], data[i]['lng']),
        map: map,
        title: data[i]['name']
      });

      let contentString =
            '<div id="content">' +
            '<div id="siteNotice"></div>' +
            '<a href="/members/members/?q=' + data[i]['member_id'] + '">CHECK</a>' +
            '</div>';

      
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        }
      })(marker, i));

      if (data[i]['is_online']) {
        if (data[i]['is_problem'])
            marker.setIcon(icons['yellow_icon'].icon);
        else
            marker.setIcon(icons['green_icon'].icon);
      }
      else
        marker.setIcon(icons['red_icon'].icon);
    }
  }
  getapi(api_url);
  // The marker, positioned at Uluru
 // const marker = new AdvancedMarkerElement({
 //   map: map,
 //   position: position,
 //   title: "Uluru",
 // });
}

initMap();

</script>
