{% load i18n %}

{% if cancel_url %}
  <a href="{{ cancel_url }}"
     class="float-right btn btn-link">{% trans "Cancel" %}</a>
{% endif %}
{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="button button-secondary">{% trans "Back" %}</button>
{% else %}
<button disabled name="" type="button button-longrunning" class="button">{% trans "Back" %}</button>
{% endif %}
<button type="submit" class="button button-longrunning">{% trans "Next" %}</button>
